body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

ul, li {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 170px; }

.gold {
  color: gold; }

.btn__blue {
  background-color: transparent;
  border: 1px solid #267df4;
  transition: all .3s linear;
  outline: none;
  color: #267df4; }
  .btn__blue:hover {
    background-color: #267df4;
    color: #fff; }
  .btn__blue:active {
    background-color: #0b63dc; }

.form {
  max-width: 500px;
  height: 50px;
  border: 1px solid #cbcbce;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 4px;
  margin-bottom: 60px; }
  .form__input {
    border: none;
    outline: none;
    background-color: #f4f4f5;
    height: 40px;
    max-width: 300px;
    font-size: 18px;
    font-weight: 500; }
  .form__btn {
    max-width: 200px;
    height: 42px;
    background-color: #6fc754;
    border: none;
    border-radius: 42px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    outline: none; }
    .form__btn:hover {
      background-color: #55af39; }
    .form__btn:active {
      background-color: #4c9c33; }

/**********HEADER**********/
.header {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1000;
  transition: all .3s linear; }
  .header.active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0; }
  .header__inner {
    width: 100%; }
  .header__burger {
    font-size: 30px;
    margin-right: 30px; }
  .header__panel {
    width: 100%;
    display: flex;
    align-items: center; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%); }
  .header__menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0; }
    .header__menu__item {
      margin-right: 50px; }
      .header__menu__item:last-child {
        margin-right: 0; }
    .header__menu__link {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: 400;
      transition: all .2s linear; }
      .header__menu__link:hover {
        color: #267df4; }
      .header__menu__link--app {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        border: 1px solid #267df4;
        border-radius: 40px;
        background-color: #267df4;
        color: #fff;
        text-decoration: none;
        transition: all .3s linear; }
        .header__menu__link--app:hover {
          background-color: #000;
          border-color: #000; }
        .header__menu__link--app i {
          margin-right: 5px; }

/*********SECTIONS*********/
.section--about {
  height: 850px;
  padding-top: 200px;
  background-image: url("../images/banner_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section--worldwide {
  overflow: hidden;
  margin-bottom: 200px; }

.section--interface {
  background-color: #f4f4f5;
  overflow: hidden;
  padding-bottom: 180px; }

.section--invite {
  background-color: #f4f4f5;
  padding-bottom: 130px; }

.section--plan {
  background-color: #f4f4f5; }

/*********ABOUT*********/
.about__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 850px;
  overflow: hidden; }

.about__header {
  font-size: 62px;
  font-weight: 400; }

.about__text {
  font-size: 20px;
  color: #8c8f94;
  margin-bottom: 60px;
  text-align: center;
  padding: 0 200px; }

.about__img {
  position: absolute;
  bottom: -40%; }

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #e9e9ea;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all .3s linear; }
  .about__btn i {
    margin-right: 10px; }
  .about__btn:hover {
    background-color: #267df4;
    color: #fff;
    border-color: #267df4; }
  .about__btn:active {
    background-color: #0b63dc; }

/*********FEATURES*********/
.features__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4; }

.features__block {
  width: 50%;
  padding: 100px 40px 120px 40px; }

.features__icon i {
  color: #267df4;
  font-size: 50px; }

.features__header {
  font-size: 26px;
  font-weight: 300; }

.features__text {
  font-size: 18px;
  color: #8c8f94; }

/*********PROTECT*********/
.protect__inner {
  position: relative;
  margin-top: 120px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between; }

.protect__block {
  width: 50%; }
  .protect__block--right {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.protect__img {
  position: absolute;
  left: -700px;
  top: -100px; }

.protect__header {
  font-size: 42px;
  font-weight: 400;
  padding-right: 60%; }

.protect__text {
  font-size: 20px;
  color: #8c8f94; }

.protect__buttons {
  margin-top: 60px; }

.protect__btn {
  width: 130px;
  height: 50px;
  margin-right: 30px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  transition: all .3s linear; }
  .protect__btn:first-child {
    width: 200px; }
    .protect__btn:first-child i {
      margin-left: 30px; }

/*********WORLDWIDE*********/
.worldwide__inner {
  display: flex;
  justify-content: space-between; }

.worldwide__block {
  width: 50%; }
  .worldwide__block--right {
    position: absolute;
    right: -200px; }

.worldwide__header {
  font-size: 42px;
  font-weight: 400; }

.worldwide__text {
  font-size: 20px;
  color: #8c8f94; }

.worldwide__partners {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }
  .worldwide__partners__logo {
    margin-right: 30px; }

/*********INTERFACE*********/
.interface__inner {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.interface__header {
  position: relative;
  font-size: 62px;
  font-weight: 400;
  margin-bottom: 100px; }
  .interface__header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 80px;
    background-color: #267df4; }

.interface__subtitle {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8c8f94;
  margin-bottom: 60px; }

.interface__carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .interface__carousel__item {
    margin-right: 40px;
    list-style: none; }
    .interface__carousel__item:last-child {
      margin-right: 0; }

/*********INVITE*********/
.invite__inner {
  display: flex;
  flex-direction: column;
  align-items: center; }

.invite__subtitle {
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8c8f94;
  letter-spacing: 0.1rem; }

.invite__header {
  font-size: 42px;
  font-weight: 400; }

.invite__input {
  border: none;
  outline: none;
  background-color: #f4f4f5;
  height: 40px;
  max-width: 300px;
  font-size: 18px;
  font-weight: 500; }

.invite__btn {
  max-width: 200px;
  height: 42px;
  background-color: #6fc754;
  border: none;
  border-radius: 42px;
  color: #fff;
  font-weight: 500;
  font-size: 18px; }

.invite__form {
  max-width: 500px;
  height: 50px;
  border: 1px solid #cbcbce;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 4px;
  margin-bottom: 60px; }

/*********FEEDBACK*********/
.feedback__inner {
  min-height: 750px;
  width: 100%; }

.feedback__carousel {
  position: relative;
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .feedback__carousel__item {
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .feedback__carousel__item__img {
      border-radius: 50%;
      box-shadow: 30px 30px 70px #8c8f94; }
    .feedback__carousel__item__header {
      margin-top: 60px;
      font-size: 32px;
      font-weight: 300; }
    .feedback__carousel__item__text {
      font-size: 20px;
      color: #8c8f94;
      text-align: center;
      margin-bottom: 120px;
      width: 50%; }
    .feedback__carousel__item__stars {
      margin-bottom: 30px; }
      .feedback__carousel__item__stars i {
        font-size: 30px; }
    .feedback__carousel__item__name {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase; }
  .feedback__carousel__arrow {
    position: absolute;
    top: 20%;
    color: #8c8f94;
    font-size: 50px;
    cursor: pointer; }
    .feedback__carousel__arrow:hover {
      color: #72757b; }
    .feedback__carousel__arrow:active {
      color: #5a5c60; }
    .feedback__carousel__arrow--prev {
      left: 60px; }
    .feedback__carousel__arrow--next {
      right: 60px; }

/*********PLAN*********/
.plan__inner {
  width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.plan__choose {
  width: 30%; }
  .plan__choose__header {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 60px; }
  .plan__choose__subtitle {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700; }
  .plan__choose__text {
    font-size: 20px;
    color: #8c8f94; }
  .plan__choose__team {
    font-size: 14px;
    color: #8c8f94; }

.plan__items {
  display: flex; }

.plan__item {
  padding: 100px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 550px;
  background-color: #ebebed;
  border-radius: 6px;
  box-shadow: 0 0 30px #e9e9ea;
  transform: scale(0.95); }
  .plan__item.active {
    transform: scale(1);
    background-color: #fff; }
  .plan__item:first-child {
    z-index: 2; }
  .plan__item:nth-child(2) {
    margin-left: -20px;
    z-index: 1; }
  .plan__item__header {
    font-size: 32px;
    font-weight: 300; }
  .plan__item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border: 1px solid #8c8f94;
    border-radius: 30px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    transition: all .3s linear;
    cursor: pointer; }
    .plan__item__price:hover {
      background-color: #267df4;
      border-color: #267df4;
      color: #fff; }
  .plan__item__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #8c8f94; }
  .plan__item__feature {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px; }
    .plan__item__feature i {
      margin-right: 10px;
      color: #6fc754; }
  .plan__item__btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #267df4;
    border-radius: 50px;
    color: #267df4;
    transition: all .3s linear; }
    .plan__item__btn:hover {
      background-color: #267df4;
      color: #fff; }

/*********SWITCH TOGGLES**********/
.toggle-container {
  margin-bottom: 70px;
  margin-top: 30px; }

.toggle-container .switch-toggles {
  position: relative;
  width: 262px;
  height: 50px;
  border: 1px solid rgba(38, 39, 45, 0.2);
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }

.toggle-container .switch-toggles .individual, .toggle-container .switch-toggles .company {
  position: relative;
  width: 130px;
  float: left;
  padding: 13px 0px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #8c8f94;
  transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1); }

.toggle-container .switch-toggles .individual.active,
.toggle-container .switch-toggles .company.active {
  color: #26272d; }

.toggle-container .switch-toggles:after {
  position: absolute;
  content: "";
  width: 122px;
  height: 42px;
  background: #ffffff;
  left: 3px;
  top: 3px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  -moz-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  -webkitbox-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1); }

.toggle-container .switch-toggles.active:after {
  left: 135px;
  top: 3px; }

/*********SUBSCRIBE*********/
.subscribe__inner {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #f4f4f4; }

.subscribe__header {
  font-size: 62px;
  font-weight: 500; }

.subscribe__form {
  margin-bottom: 30px; }

.subscribe__input {
  background-color: #fff; }

.subscribe__spam {
  font-size: 14px;
  font-weight: 500;
  color: #8c8f94; }

/*********FOOTER*********/
.footer {
  margin-top: 100px; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    border-bottom: 1px solid #f4f4f4; }
    .footer__info__social {
      width: 270px;
      padding-top: 20px; }
      .footer__info__social__text {
        font-size: 14px;
        color: #8c8f94;
        font-weight: 500;
        padding: 30px 0; }
      .footer__info__social__icons {
        padding-top: 30px; }
        .footer__info__social__icons i {
          margin-right: 20px;
          color: #8c8f94;
          font-size: 24px;
          transition: all .3s linear; }
          .footer__info__social__icons i:hover {
            color: #267df4; }
    .footer__info__columns {
      display: flex;
      justify-content: space-between; }
    .footer__info__column {
      margin-right: 100px; }
      .footer__info__column__header {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px; }
      .footer__info__column__list {
        list-style: none;
        padding: 0; }
        .footer__info__column__list__item {
          margin-bottom: 30px; }
          .footer__info__column__list__item__link {
            text-decoration: none;
            color: #8c8f94; }
            .footer__info__column__list__item__link:hover {
              color: #267df4;
              text-decoration: underline; }
  .footer__copyright {
    padding: 30px 0;
    display: flex;
    justify-content: space-between; }
    .footer__copyright__visit {
      font-size: 16px;
      font-weight: 500;
      color: #8c8f94; }
    .footer__copyright__logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer__copyright__logo__text {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 20px; }

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    max-width: 100vw; }
  .column {
    display: flex;
    flex-direction: column; }
  .header.active {
    display: none; }
  .header__burger {
    margin-left: 30px; }
  .header__menu {
    display: none; }
  .about__text {
    padding: 0 20px; }
  .worldwide__img {
    display: none; }
  .protect__inner {
    flex-direction: column; }
  .protect__img {
    display: none; }
  .plan__inner {
    flex-direction: column;
    justify-content: center; }
  .plan__items {
    flex-wrap: wrap; }
  .plan__choose {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer__copyright {
    justify-content: center; }
  .footer__copyright__visit {
    display: none; } }
