@import './_variables.scss';

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 0 170px;
}

.gold {
    color: gold;
}

.form {
    width: 500px;
    height: 50px;
    border: 1px solid $inputgrey;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 4px;
    margin-bottom: 60px;
    &__input {
        border: none;
        outline: none;
        background-color: $bggrey;
        height: 40px;
        width: 300px;
        font-size: 18px;
        font-weight: 500;
    }
    &__btn {
        width: 200px;
        height: 42px;
        background-color: #6fc754;
        border: none;
        border-radius: 42px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-top: 50px;
    &__inner {
        width: 100%;
    }
    &__burger {
        display: none;
    }
    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        list-style: none;
        padding-left: 0;
        &__item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            text-decoration: none;
            color: #000;
            font-size: 18px;
            font-weight: 400;
            transition: all .2s linear;
            &:hover {
                color: $blue;
            }
        }
    }
}

.section {
    width: 100%;
    &--about {
        height: 850px;
        padding-top: 200px;
        background-image: url('../images/banner_background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &--worldwide {
        overflow: hidden;
        margin-bottom: 200px;
    }
    &--interface {
        background-color: $bggrey;
        overflow: hidden;
        padding-bottom: 180px;
    }
    &--invite {
        background-color: $bggrey;
        padding-bottom: 130px;
    }
    &--plan {
        background-color: $bggrey;
    }
}

.about {
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 850px;
        overflow: hidden;
    }
    &__header {
        font-size: 62px;
        font-weight: 400;
    }
    &__text {
        font-size: 20px;
        color: $grey;
        margin-bottom: 60px;
        text-align: center;
        padding: 0 200px;
    }
    &__img {
        position: absolute;
        bottom: -40%;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: transparent;
        border: 1px solid $btngrey;
        border-radius: 50px;
        text-decoration: none;
        color: #000;
        font-weight: 500;
        transition: all .3s linear;
        &:hover {
            background-color: $blue;
            color: #fff;
            border-color: $blue;
        }
    }
}

.features {
    &__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $lightgrey;
    }
    &__block {
        width: 50%;
        padding: 100px 40px 120px 40px;
    }
    &__icon {
        & i {
            color: $blue;
            font-size: 50px;
        }
    }
    &__header {
        font-size: 26px;
        font-weight: 300;
    }
    &__text {
        font-size: 18px;
        color: $grey;
    }
}

.protect {
    &__inner {
        margin-top: 120px;
        margin-bottom: 200px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 50%;
        &--right {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__img {
        position: relative;
        left: -500px;
    }
    &__header {
        font-size: 42px;
        font-weight: 400;
        padding-right: 60%;
    }
    &__text {
        font-size: 20px;
        color: $grey;
    }
    &__buttons {
        margin-top: 60px;
    }
    &__btn {
        width: 200px;
        height: 50px;
        margin-right: 30px;
        background-color: transparent;
        border: 1px solid $btngrey;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 500;
        transition: all .3s linear;
        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: #fff;
        }
    }
}

.worldwide {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 50%;
    }
    &__header {
        font-size: 42px;
        font-weight: 400;
    }
    &__text {
        font-size: 20px;
        color: $grey;
    }
    &__partners {
        display: block;
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        &__logo {
            margin-right: 30px;
        }
    }
    &__img {
        position: relative;
        right: -200px;
    }
}

.interface {
    &__inner {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__header {
        position: relative;
        font-size: 62px;
        font-weight: 400;
        margin-bottom: 100px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 80px;
            background-color: $blue;
        }
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: $grey;
        margin-bottom: 60px;
    }
    &__carousel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
            margin-right: 40px;
            list-style: none;
            &:last-child {
                margin-right: 0;
            }
            
        } 
    }
}

.invite {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        margin-top: 0;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $grey;
        letter-spacing: 0.1rem;
    }
    &__header {
        font-size: 42px;
        font-weight: 400;
    }
    &__input {
        border: none;
        outline: none;
        background-color: $bggrey;
        height: 40px;
        width: 300px;
        font-size: 18px;
        font-weight: 500;
    }
    &__btn {
        width: 200px;
        height: 42px;
        background-color: #6fc754;
        border: none;
        border-radius: 42px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
    &__form {
        width: 500px;
        height: 50px;
        border: 1px solid $inputgrey;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 4px;
        margin-bottom: 60px;
    }
}

.feedback {
    &__inner {
        min-height: 750px;
        max-width: 100%;
    }
    &__carousel {
        min-height: 750px;
        &__item {
            min-height: 750px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 300px;
            &__img {
                border-radius: 50%;
                box-shadow: 30px 30px 70px $grey;
            }
            &__header {
                margin-top: 60px;
                font-size: 32px;
                font-weight: 300;
            }
            &__text {
                font-size: 20px;
                color: $grey;
                text-align: center;
                margin-bottom: 120px;
            }
            &__stars {
                margin-bottom: 30px;
                & i {
                    font-size: 30px;
                }
            }
            &__name {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.plan {
    &__inner {
        min-height: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__choose {
        max-width: 30%;
        &__header {
            font-size: 42px;
            font-weight: 400;
            margin-bottom: 60px;
        }
        &__subtitle {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__text {
            font-size: 20px;
            color: $grey;
        }
        &__team {
            font-size: 14px;
            color: $grey;
        }
    }
    &__items {
        display: flex;
        
    }
    &__item {
        padding: 100px 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        height: 550px;
        background-color: #ebebed;
        border-radius: 6px;
        box-shadow: 0 0 30px $btngrey;
        transform: scale(0.95);
        &.active {
            transform: scale(1);
            background-color: #fff;
        }
        &:first-child {
            z-index: 2;
        }
        &:nth-child(2) {
            margin-left: -20px;
            z-index: 1;
        }
        &__header {
            font-size: 32px;
            font-weight: 300;
        }
        &__price {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 30px;
            border: 1px solid $grey;
            border-radius: 30px;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: transparent;
            transition: all .3s linear;
            cursor: pointer;
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: #fff;
            }
        }
        &__subtitle {
            font-size: 20px;
            font-weight: 400;
            color: $grey;
        }
        &__feature {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            & i {
                margin-right: 10px;
                color: #6fc754;
            }
        }
        &__btn {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            background-color: transparent;
            border: 1px solid $blue;
            border-radius: 50px;
            color: $blue;
            transition: all .3s linear;
            &:hover {
                background-color: $blue;
                color: #fff;
            }
        }
    }
}

/*********SWITCH TOGGLES**********/
.toggle-container {
    margin-bottom: 70px;
    margin-top: 30px;
}
  
.toggle-container .switch-toggles {
    position: relative;
    width: 262px;
    height: 50px;
    border: 1px solid rgba(38, 39, 45, 0.2);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
  
.toggle-container .switch-toggles .individual,.toggle-container .switch-toggles .company {
    position: relative;
    width: 130px;
    float: left;
    padding: 13px 0px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: $grey;
    transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
  
.toggle-container .switch-toggles .individual.active,
.toggle-container .switch-toggles .company.active {
    color: #26272d;
}
  
.toggle-container .switch-toggles:after {
    position: absolute;
    content: "";
    width: 122px;
    height: 42px;
    background: #ffffff;
    left: 3px;
    top: 3px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
    -moz-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
    -webkitbox-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
    transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
  
.toggle-container .switch-toggles.active:after {
    left: 135px;
    top: 3px;
}

.subscribe {
    &__inner {
        margin-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $lightgrey;
    }
    &__header {
        font-size: 62px;
        font-weight: 500;
    }
    &__form {
        margin-bottom: 30px;
    }
    &__input {
        background-color: #fff;
    }
    &__spam {
        font-size: 14px;
        font-weight: 500;
        color: $grey;
    }
}

.footer {
    margin-top: 100px;
    &__info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 120px;
        border-bottom: 1px solid $lightgrey;
        &__social {
            width: 270px;
            padding-top: 20px;
            &__text {
                font-size: 14px;
                color: $grey;
                font-weight: 500;
                padding: 30px 0;
            }
            &__icons {
                padding-top: 30px;
                & i {
                    margin-right: 20px;
                    color: $grey;
                    font-size: 24px;
                    transition: all .3s linear;
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
        &__columns {
            display: flex;
            justify-content: space-between;
            }
        &__column {
            margin-right: 100px;
            &__header {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &__list {
                list-style: none;
                padding: 0;
                &__item {
                    margin-bottom: 30px;
                    &__link {
                        text-decoration: none;
                        color: $grey;
                        &:hover {
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
    }
        
    }
    &__copyright {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        &__visit {
            font-size: 16px;
            font-weight: 500;
            color: $grey;
        }
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            &__text {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                margin-right: 20px;
            }
        }
    }
}